{% extends "base.html" %}

{% block main %}
    <h1>Secure Page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus. Enim eu turpis egestas pretium aenean pharetra magna. Leo a diam sollicitudin tempor. Varius sit amet mattis vulputate enim. Volutpat diam ut venenatis tellus in metus. Euismod quis viverra nibh cras pulvinar mattis nunc sed. Nibh tellus molestie nunc non blandit massa. Pellentesque habitant morbi tristique senectus et netus et. Justo donec enim diam vulputate. Ante metus dictum at tempor commodo ullamcorper a lacus. Auctor eu augue ut lectus arcu bibendum at.</p>
{% endblock %}